
<nav class="navbar sticky-top navbar-expand-lg navbar-dark"  style="position: fixed;width: 100%; background-color: #E67E22;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Alumni Tracker System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                
            </div>
        </div>
    </div>
</nav>
<br>
<br>
